/.cache-Nightreaper127
/.env
/.idea/discord.xml
/jarvis_response.mp3
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/PythonProject.iml
/.idea/shelf/Uncommitted_changes_before_cherry-pick_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_revert_[Changes]/shelved.patch
/.idea/vcs.xml
/.idea/workspace.xml
